<footer class="footer section">
    <div class="footer__content">
        <a href="index.html" class="footer__logo"><img src="assets/img/logo.png" alt=""></a>

        <div class="footer__address">
            <img src="assets/img/icons/location.svg" alt="">
            <div class="footer__address-text">
                <p class="text-2 text-lightgray">Адрес офиса в ОАЕ</p>
                <address class="text-2">Office 1931, Al Manara Tower,<br/>
                    Business Bay, Dubai, UAE</address>
            </div>
        </div>

        <nav class="footer__nav">
            <ul class="footer__menu-col">
                <li class="footer__menu-item"><a href="#" class="footer__menu-link text-2 link-dark">Покупка</a></li>
                <li class="footer__menu-item"><a href="#" class="footer__menu-link text-2 link-dark">Инвестирование</a></li>
                <li class="footer__menu-item"><a href="#" class="footer__menu-link text-2 link-dark">Ипотека</a></li>
            </ul>
            <ul class="footer__menu-col">
                <li class="footer__menu-item"><a href="#" class="footer__menu-link text-2 link-dark">Управление недвижимостью</a></li>
                <li class="footer__menu-item"><a href="#" class="footer__menu-link text-2 link-dark">Недвижимость за криптовалюту</a></li>
                <li class="footer__menu-item"><a href="#" class="footer__menu-link text-2 link-dark">Приемка</a></li>
            </ul>
        </nav>

        <div class="footer__copyright text-center">
            <span class="text-2">Все права защищены © 2023. </span>
            <span class="text-2">Политика конфиденциальности</span>
        </div>

        <div class="footer-soc-links">
            <a href="#" target="_blank"><img src="assets/img/icons/telegram.svg" alt=""></a>
            <a href="#" target="_blank"><img src="assets/img/icons/instagram.svg" alt=""></a>
        </div>
    </div>
</footer>

<div class="hystmodal"  aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="modal show fade" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="callbackLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-hystclose>
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.497173 0.497175C1.16007 -0.165723 2.23484 -0.165723 2.89774 0.497175L24.5028 22.1023C25.1657 22.7652 25.1657 23.8399 24.5028 24.5028C23.8399 25.1657 22.7652 25.1657 22.1023 24.5028L0.497174 2.89774C-0.165724 2.23484 -0.165725 1.16007 0.497173 0.497175Z" fill="#B0BCC2"/>
                            <path d="M0.497173 24.5028C1.16007 25.1657 2.23484 25.1657 2.89774 24.5028L24.5028 2.89774C25.1657 2.23484 25.1657 1.16007 24.5028 0.497173C23.8399 -0.165724 22.7652 -0.165724 22.1023 0.497173L0.497174 22.1023C-0.165724 22.7652 -0.165725 23.8399 0.497173 24.5028Z" fill="#B0BCC2"/>
                            </svg> 
                        </svg>
                    </button>

                    <div class="modal-wrap">
                        <div class="modal-body feedback-modal">
                            
                            <div class="feedback-modal__text-block">
                                <h3 class="title-md">Наши эксперты помогут выбрать Вам лучшее.</h3>
                                <p class="text-1">Вы получите полную информацию
                                    об интересующем вас объекте и доступных
                                    вариантах планировок.</p>
                            </div>
                            <div class="feedback-modal__img-block">
                                <img src="assets/img/modal-bg.jpg" alt="">
                            </div>

                            <form action="script.url" class="feedback-modal__form">
                                <div class="modal-input-wrap">
                                    <input type="text" placeholder="Ваше имя" name="name" class="f-feedback-input " required>    
                                    <p class="form-error">Поле не может быть пустым</p>                                    
                                </div>
                                <div class="modal-input-wrap">
                                    <input type="tel" placeholder="Ваше телефон" name="phone" class="f-feedback-input " required minlength="16">
                                    <p class="form-error">Поле не может быть пустым</p>                                    
                                </div>
                                <div class="modal-approve-text">Отправляя данную форму вы соглашаетесь
                                    с <a href="privacy-politic.html" target="_blank">политикой конфиденциальности</a></div>
                                <button class="btn btn-darkgreen">получить консультацию</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

    </div>
</div>

<div class="hystmodal"  aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="modal show fade" id="thanks-modal" tabindex="-1" role="dialog" aria-labelledby="callbackLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-hystclose>
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.497173 0.497175C1.16007 -0.165723 2.23484 -0.165723 2.89774 0.497175L24.5028 22.1023C25.1657 22.7652 25.1657 23.8399 24.5028 24.5028C23.8399 25.1657 22.7652 25.1657 22.1023 24.5028L0.497174 2.89774C-0.165724 2.23484 -0.165725 1.16007 0.497173 0.497175Z" fill="#B0BCC2"/>
                            <path d="M0.497173 24.5028C1.16007 25.1657 2.23484 25.1657 2.89774 24.5028L24.5028 2.89774C25.1657 2.23484 25.1657 1.16007 24.5028 0.497173C23.8399 -0.165724 22.7652 -0.165724 22.1023 0.497173L0.497174 22.1023C-0.165724 22.7652 -0.165725 23.8399 0.497173 24.5028Z" fill="#B0BCC2"/>
                            </svg> 
                        </svg>
                    </button>

                    <div class="modal-wrap">
                        <div class="modal-body thanks-modal">
                            <div class="thanks-modal__content">
                                <a href="index.html" class="thanks-modal__logo">
                                    <img src="assets/img/logo-thanks.png" alt="">
                                </a>
                                <h3 class="title-md text-white text-center">Заявка принята</h3>
                                <p class="text-1 text-center text-white">Наш менеджер свяжется с вами
                                    в ближайшее время и ответит
                                    на все вопросы</p>
                            </div>
                            

                            <div class="text-1 text-center text-white timer">Окно закроется автоматически через <span class="timer-count"></span> секунд</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  

    <script src="assets/js/scrolling-tabs.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/fancybox.umd.js"></script>
    <script src="assets/js/hystmodal.min.js"></script>
    <script src="assets/js/imask.js"></script>
    <script src="assets/js/combo-select.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>
