/*break-points*/

$lg: 992px;


$break-points: (
  lg: $lg,
);


$offsets:(
    0: 0px,
    5: 5px, 
    10: 10px, 
    15: 15px, 
    20: 20px, 
    25: 25px, 
    30: 30px, 
    35: 35px, 
    40: 40px, 
    45: 45px, 
    50: 50px, 
    60: 60px, 
    70: 70px, 
    80: 80px, 
    100: 100px, 
   
);
@each $number, $offset in $offsets {

    //margin-bottom
    .mb-#{$number}{
        margin-bottom: $offset ;
    }
    
}

@each $bp-name, $break-point in $break-points {
    @each $number, $offset in $offsets {
        
        //margin-bottom
        .mb-#{$bp-name}-#{$number}{
            @media (min-width: $break-point){
                margin-bottom: $offset ;
            }
            
        }
    }
}

.block-margin-bottom{
    margin-bottom: 30px;
    @include calculateResponsiveProperty(390px, 1920px, 1.875rem, 3.125rem, margin-bottom );
}
    
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}