.s-cards-slider__inner{
    width: 100%;
}


.s-cards-slider__title-block{
    

    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px 20px;
    @include calculateResponsiveProperty(390px, 1024px, 1.875rem, 3.125rem, margin-bottom );
    

    
}
.s-cards-slider__text-right{
   
    
}

.s-cards-slider__right{
    display: none;

    @media (min-width: 1024px){
        display: block;
    }
}

.swiper.realty-swiper{
    & > .swiper-wrapper{
        height: auto;
    }
    
}

.swiper-slide .realty-card{
    height: 100%;
}

.swiper-slide .realty-card__body{
    flex-grow: 1;
}

.s-cards-slider__left{
    max-width: 100%;
}