
.f-single-area{
    padding-top: 50px;
    @include calculateResponsiveProperty(390px, 1920px, 3.125rem, 6.25rem, padding-top );
    .text-1{
        max-width: 690px;
    }
}

.f-single-area__inner{
    width: 100%;
}

.single-areas-banner{
    position: relative;
    max-width: 100%;
    
    height: 450px;

    @include calculateResponsiveProperty(390px, 1024px, 28.125rem, 40.625rem, height );
    @media (min-width: 1024px){
        border-radius: 10px;
        overflow: hidden;
    }
    img{
        width: 100vw;
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transform: translate(-50%, 0);
        transition: 8000ms;
        @media (min-width: 1024px){
            width: 100%;           
        }
    }
    @media (min-width: 1024px){
        &:hover{
            img{
                transition: 1000ms;
                transform: translate(-50%, 0) scale(1.1);
            }
        }
    }
    
}

.sa-info {
    display: inline-flex;
    
    position: absolute;
    left: 50%;
    display: flex;
    padding: 20px;
    gap: 16px 30px;
    border-radius: 10px 10px 0 0;
    z-index: 5;
    background-color: #fff;
    bottom: 0;
    transform: translate(-50%, 0);

    @media (max-width: 380px){
        flex-direction: column;
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    @media (min-width: 768px){
        padding: 24px 45px;
        gap: 45px;
    }
}

.sa-info__item {
    @media (min-width: 768px){
        width: max-content;
    }
}

.sa-info__title {
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 500;
    line-height: 115%; /* 23px */
    letter-spacing: 0.2px;    
    white-space: nowrap;
    @include calculateResponsiveProperty(390px, 1024px, 1.25rem, 1.6875rem, font-size );
    

    
}

.sa-inner-nav{
    z-index: 500;
    background-color: #fff;
    border-bottom: 1px solid rgba(176, 188, 194, 0.30);
    position: sticky;
    top: 0;
    padding-left: 20px;
    margin-top: 12px;
    @include calculateResponsiveProperty(390px, 1920px, 1.25rem, 3.125rem, padding-left );
    @include calculateResponsiveProperty(1024px, 1920px, 2rem, 3.125rem, padding-right );

    @media (min-width: 1024px){
        margin-top: 6px;
    }
    .section-inner{
        padding: 23px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        @media (min-width: 1024px){
            padding: 23px 0 30px;
        }
    }

    .btn.btn-darkgreen{
        display: none;

        @media (min-width: 1260px){
            display: flex;
        }
    }
}

.swiper.sa-inner-nav-swiper{
    margin-left: 0;
    padding: 5px 0;
    padding-right: 20px;
    display: flex;
    align-items: center;
    gap: 0 16px;
    @media (min-width: 1024px){
        padding-right: 0px;
    }
    .swiper-slide{
        width: max-content !important;
        color: #9A9AB1;
        font-family: 'Brutal Type';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 14px */

        @media (min-width: 1024px){
            font-size: 16px;
        }
    }
    .swiper-slide.active-link{
        color: #1E1E1E;
    }
}
.sa-inner-nav-swiper__next, .sa-inner-nav-swiper__prev{
    display: none;

    @media (min-width: 1024px){
        display: initial;
        flex-shrink: 0;
    }
}
.sa-inner-nav-swiper__next.swiper-button-disabled, .sa-inner-nav-swiper__prev.swiper-button-disabled{
    display: none;
}

.sa-islands-desc{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    @media (min-width: 768px){
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }
}

.sa-islands-desc__item{
    padding: 35px 25px ;
    border-radius: 10px;    
    background: #F9F9F9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @include calculateResponsiveProperty(1024px, 1920px, 2.5rem, 5rem, padding-top );
    @include calculateResponsiveProperty(1024px, 1920px, 2.5rem, 5rem, padding-bottom );
    @include calculateResponsiveProperty(1024px, 1920px, 1.25rem, 5rem, padding-left );
    @include calculateResponsiveProperty(1024px, 1920px, 1.25rem, 5rem, padding-right );
    .text-1, .title-md{
        max-width: 460px;
    }
}

.sa-islands-desc__item.item-1{
    .bottom-text{
        margin-top: 140px;
    }
}

.area-infrastructure{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @media (min-width: 768px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    @media (min-width: 1024px){
        grid-gap: 50px;
    }

    @media (min-width: 1024px){
        grid-template-rows: 1fr 1fr;
    }
}





.area-infrastructure__block{
    padding: 35px 20px;
    border-radius: 10px;
    background-color: #F9F9F9;

    @include calculateResponsiveProperty(1024px, 1920px, 2.5rem, 5rem, padding-top );
    @include calculateResponsiveProperty(1024px, 1920px, 2.5rem, 5rem, padding-bottom );
    @include calculateResponsiveProperty(1024px, 1920px, 1.25rem, 5rem, padding-left );
    @include calculateResponsiveProperty(1024px, 1920px, 1.25rem, 5rem, padding-right );

    transition: 500ms;

    .text-1, .title-lg, .title-md, .infrastructure-tag--text, .area-infrastructure__img img{
        transition: 500ms;
    }

    &:hover{
        background-color: #3F5452;
        .text-1, .title-lg, .title-md, .infrastructure-tag--text{
            color: #fff;
        }
        .area-infrastructure__img img{
            transform: scale(1.1);
        }
    }
    
}

.area-infrastructure__block.with-img{
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 768px){
        grid-row: 1 / 3;
    }
}

.area-infrastructure.b-bay{
    .area-infrastructure__block.with-img{
        @media (min-width: 768px){
            grid-column: 2 / 3;
            grid-row: 1 / 3;
        }   
    }
}


.area-infrastructure__img{
    position: relative;
    padding-bottom: 112.903225806%;
    border-radius: 10px 10px 0 0;

    overflow: hidden;
    @media (min-width: 768px){
        padding-bottom: 130%;
    }
    @media (min-width: 1024px){
        padding-bottom: 63.724137931%
    }
    img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.infrastructure-tag-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: 0.14px;

    @media (min-width: 1024px){
        font-size: 16px;
    }
}
.infrastructure-tag{
    border-radius: 55px;
    background: #E7B05F;
    padding: 15px 20px;
    color: #FFF;
    
}
.infrastructure-tag--text{
    color: #1E1E1E;
    padding: 10px;
}

.s-cards-slider__text-right{
    display: none;
    
    @media (min-width: 1024px){
        display: initial;
        max-width: 460px;    
    }
}

.entertainments__img-block{
    position: relative;
    padding-bottom: 114.285714286%;
    border-radius: 10px ;
    @media (min-width: 640px){
        padding-bottom: 80.847457627%;
    }
    overflow: hidden;

    img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}


.s-area-map{
    position: relative;
    padding-bottom: 85%;
    
    
    @media (min-width: 768px){
        padding-bottom: 38%;
        overflow: hidden;
        border-radius: 10px;
        
    }
}
.s-area-map__inner{
    position: absolute;
    left: 50%;
    top: 0;
    width: 100vw;
    height: 100%;
    transform: translate(-50%, 0);
    overflow: hidden;

    @media (min-width: 768px){
        width: 100%;
    }
    iframe {
        margin-top: -150px;
        height: calc(100% + 150px);
    }
}

.area-infrastructure__times{
    margin-bottom: 80px;   

    @media (min-width: 1024px){
        margin-bottom: 65px;   
    }
}
.entertainments-title-block{
    .text-1{
        max-width: 390px;
    }
    
}

.entertainments{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 45px 20px;

    @media (min-width: 768px){
        grid-template-columns: 1fr 1fr 1fr;
        background: #F9F9F9;
        border-radius: 10px;
        
    }
    
    @include calculateResponsiveProperty(768px, 1440px, 2.5rem, 5rem, padding-bottom);
}

.entertainments__item{
    @media (min-width: 768px){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
    }
    
    @include calculateResponsiveProperty(768px, 1440px, 2.5rem, 5rem, padding-top);
}

.entertainments__text-block{
    padding-top: 35px;
    position: relative;

    &::before{
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100px;
         height: 10px;
         border-radius: 5px;
        background: #E7B05F;
    }
    margin-bottom: 24px;
    @include calculateResponsiveProperty(390px, 1920px, 1.5rem, 5rem, margin-bottom);

    @media (min-width: 768px){
        flex-grow: 1;
    }

    @media (min-width: 1024px){
        margin-left: 10%;
        margin-right: 10%;
    }
}

.entertainments__title{
    color: #1E1E1E;

    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%; /* 28.75px */
    letter-spacing: 0.25px;
    text-transform: uppercase;

    @media (min-width: 1024px){
        font-size: 27px;
    }
}


.sa-bbay-description{
    background-color: #F9F9F9;
    border-radius: 10px;
    padding: 35px 25px 25px;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;

    @media (min-width: 1024px){
        grid-gap: 30px;
        padding: 30px;
        grid-template-columns: 1fr 1fr;
        
    }
    @media (min-width: 1260px){
        grid-gap: 60px;
        grid-template-columns: 1fr 63%;
    }
    @include calculateResponsiveProperty(1024px, 1600px, 1.875rem, 5rem, padding-left );
    @media (min-width: 1260px){
        grid-gap: 60px;
    }

    transition: 500ms;

    

}


.area-block-hover{
    transition: 500ms;
    

    .text-1, .text-2, .text-3, .title-lg, .title-md, .entertainments__title{
        transition: 500ms;
    }

    .prop-img-container{
        img{
            transition: 500ms;
        }
    }

    .btn{
        transition: 500ms;
    }

    &:hover{
        background-color: #3F5452;
        .text-1, .text-2, .text-3, .title-lg, .title-md, .entertainments__title{
            color: #FFF;
        }
        @media (min-width: 1024px){

        }
        .prop-img-container{
            img{
                transform: scale(1.1);
            }
        }

        .btn{
            background-color: #fff;
            color: #1E1E1E;
        }
    }
}


.sa-bbay-description__img-col{

    position: relative;
    padding-bottom: 116.666666667%;
    border-radius: 10px;
    
    overflow: hidden;
    @media (min-width: 768px){
        padding-bottom: 63.724137931%
    }

    @media (min-width: 1260px){
        padding-bottom: 55.555555%
    }
    img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.sa-bbay-description__text-col{
    .text-1{
        max-width: 460px;
    }

    @media (min-width: 1024px){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @include calculateResponsiveProperty(1024px, 1600px, 1.875rem, 3.125rem, padding-top );
    @include calculateResponsiveProperty(1024px, 1600px, 1.875rem, 3.125rem, padding-bottom );

}

.architecture-title-block{
    display: flex;
    justify-content: space-between;
    gap: 0 60px;
}


.architecture-title-block__text-block{
    display: none;

    @media (min-width: 1024px){
        display: block;
        max-width: 510px;
    }
}

.architecture-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    @media (min-width: 900px){
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    @media (min-width: 1260px){
        grid-gap: 45px;
    }
}

.architecture-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background: #F9F9F9;
    padding: 35px 25px 25px;
    gap: 30px;

    @media (min-width: 1024px){
        padding: 30px;
    }
    transition: 500ms;
    .text-1, .title-lg, .title-md, .architector__name,  .architector__name-block .text-3, .architecture-item__img-block img{
        transition: 500ms;
    }

    &:hover{
        background-color: #3F5452;
        .text-1, .title-lg, .title-md, .infrastructure-tag--text, .architector__name, .architector__name-block .text-3{
            color: #fff;
        }
        .architector__name-block .text-3{
            opacity: 1 ;
        }
        .architecture-item__img-block img{
            transform: scale(1.1);
        }
    }
}

.architecture-item.item-1{
    @media (min-width: 900px){
        .architecture-item__text-block{
            order: 2;
        }
        .architecture-item__img-block{
            order: 1;
        }
    }
    
}

.architecture-item__text-block{
    @include calculateResponsiveProperty(1024px, 1920px, 0rem, 3.125rem, padding );
    
}

.architecture-item__img-block{
    position: relative;
    padding-bottom: 112.903225806%;
    border-radius: 10px;

    overflow: hidden;
    @media (min-width: 768px){
        padding-bottom: 63.724137931%
    }
    @media (min-width: 1024px){
        padding-bottom: 53%
    }
    img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}


.architector {
    display: flex;
    align-items: center;
    gap: 20px;
}
.architector__photo {
    padding: 7px;
    border-radius: 50%;    
    border: 1px solid #E7B05F;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    @media (min-width: 900px){
        width: 115px;
        height: 115px;
    }
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;    
        object-fit: cover;
        object-position: center;
    }
}
.architector__name-block {
}
.architector__name {
    font-size: 18px;
    color: #1E1E1E;
    font-weight: 400;
    line-height: 100%; /* 25px */
    @include calculateResponsiveProperty(390px, 1920px, 1.125rem, 1.5625rem, font-size );
}


.architecture-grid.b-bay{
   
}